{% extends 'base.html' %}

{% load static %}

{% block title %}E-mail {{ db|capfirst }}{% endblock %}

{% block conteudo %}
<div class="container mt-3">
    <form>
        {% csrf_token %}
    </form>

    <div class="card">
        <h5 class="card-header text-center">Log</h5>
        <div class="card-body">
            <ul id="log"></ul>
        </div>
    </div>

    <ul id="log"></ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    var url_email = "{% url 'email_lanmax_send_email' db %}"
    var url_gnre_email = "{% url 'email_lanmax_gera_gnre_email' db %}"
</script>
<script src="{% static 'js/email.js' %}"></script>
{% endblock %}