{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core_index' %}">Rotinas Lanmax</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" 
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    {% url 'core_index' as url %}
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{% url 'core_index' %}">Home</a>
                </li>

                <li class="nav-item">
                    {% url 'sintegra_index' as url %}
                    <a class="nav-link {% if url in request.path %}active{% endif %}" href="{% url 'sintegra_index' %}">Sintegra</a>
                </li>

                <li class="nav-item">
                    {% url 'mercos_index' as url %}
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{% url 'mercos_index' %}">Mercos</a>
                </li>

                <li class="nav-item dropdown">
                    {% url 'gnre_index' db as url %}
                    <a class="nav-link dropdown-toggle {% if url == request.path %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GNRE
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'gnre_index' 'greenmotor' %}">GreenMotor</a></li>
                        <li><a class="dropdown-item" href="{% url 'gnre_index' 'lanmax' %}">Lanmax</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div style="color: white">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
             {{ user }}
            <button class="btn btn-sm btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#logoutModal">Sair</button>
        </div>
    </div>
</nav>

<!-- Modal Logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="logoutModalLabel">Logout</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente sair do sistema?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a href="{% url 'accounts_logout' %}" class="btn btn-danger">Sair</a>
            </div>
        </div>
    </div>
</div>
{% endif %}