{% extends 'base.html' %}

{% load tz %}
{% load static %}

{% block title %}GNRE {{ db|capfirst }}{% endblock %}

{% block conteudo %}
    <div class="container mt-3">
        <div class="d-flex">
            <div class="me-auto">
                <label id="refresh_time" style="color: red; font-weight: bold;" class="mb-2 ms-2"></label>
            </div>
            <div>
                <span class="fw-bold">
                    GNRE Não Liberadas: {{ result|length }}
                </span>
            </div>
        </div>
        
        <table class="table table-sm table-hover">
            <thead class="table-warning">
                <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">NFe</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">UF</th>
                    <th scope="col">Data Emissão</th>
                    <th scope="col">Data Validação</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody id="lista"></tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var url_libera_pagto = "{% url 'gnre_libera_pagto' db %}";
        var url = "{% url 'gnre_api_gnre_nao_liberadas' db %}"
        var csrf_token = '{{ csrf_token }}';
    </script>

    <script src="{% static 'js/gnre.js' %}"></script>
{% endblock %}